%h1 Signup Page
= link_to "signup" , '/auth/github'

%h3 New User

%p Name 
%input{:type=>"text", :id=> "#Name",:tag => "Name" ,:maxlength => "200" ,:class => "text_field", :placeholder => "EnterName" }
%p User Name 
%input{:type=>"text", :id=> "#Name",:tag => "Name" ,:maxlength => "200" ,:class => "text_field", :placeholder => "EnterName" }
%p Email ID
%input{:type=>"text",:tag => "Name" ,:maxlength => "200" ,:class => "text_field", :placeholder => "EnterName" }
%p Phone Number
%input{:type=>"number",:tag => "Name" ,:maxlength => "200" ,:class => "text_field", :placeholder => "EnterName" }
%p Password
%input{:type=>"password",:tag => "#" ,:maxlength => "200" ,:class => "text_field", :placeholder => "EnterName" }
%p Confirm Password
%input{:type=>"password",:tag => "#" ,:maxlength => "200" ,:class => "text_field", :placeholder => "EnterName" }


%br
%br
= radio_button_tag(:type, "student") #age params  params[:type]
= label_tag(:type_student, "Student") 
= radio_button_tag(:type, "event manager") 
= label_tag(:type_eventmanager, "Event Manager") 
%br
%br
%a.button{:href => "#"} submit
